/* ----------------------------------------------------------- */
/* == Page */
/* ----------------------------------------------------------- */

.single-pageHead {
	padding: 0 5%;
	padding-top: 5rem;
	width: 100%;
	text-align: center;
}

.single-pageHead__title {
	font-weight: bold;
	font-size: 4.2rem;
}
