/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */

@media (max-width: @small) {
  /* Layout
  -------------------------------------------------------------- */
  body {
    overflow-x: hidden;
  }

  .headerMobile {
    display: block;
  }

  .topbar,
  .header {
    display: none;
  }

  .home {
    margin-top: 8rem;
  }
  
}
