/* ----------------------------------------------------------- */
/* == rwd -> small */
/* ----------------------------------------------------------- */

@media (max-width: @small) {
  /* Layout
  -------------------------------------------------------------- */
  body {
    overflow-x: hidden;
  }

  .headerMobile {
    display: block;
  }

  .topbar,
  .header {
    display: none;
  }

  .home {
    margin-top: 8rem;
  }

  /* Home page
  -------------------------------------------------------------- */

  .home-module__grid-1-s {
    .grid(1, 0);
  }

  .home-module__grid-1-s:nth-of-type(n) {
    margin-bottom: 0;
  }

  .home-module__mainPart > div:nth-of-type(1) > :nth-of-type(n) {
    margin-bottom: 2rem;
  }

  .home-module__mainPart > div:nth-of-type(1) > :last-of-type {
    margin-bottom: 0;
  }

  .home-module__sidePart-s {
    display: block;
  }

  .home-module__sidePart-s:nth-of-type(n) {
    flex-direction: column;
    margin-left: @home-margin;
    width: ~'calc(100% - '@home-margin~')';
  }

  .home-module__sidePart-s > :nth-child(n) {
    margin-bottom: @home-margin;
    margin-left: 0;
    min-height: inherit;
    width: 100%;
  }

  .home-moduleBig.fpostArticle {
    flex-direction: column;
  }

  .home-moduleBig .fpostArticle__content {
    width: 100%;
  }

  .home-moduleBig .fpostDossier__title {
      font-size: 3.4rem;
      line-height: 4.5rem;
  }

  .home-moduleBig .fpostDossier__extract {
    font-size: 1.7rem;
    line-height: 2.7rem;
}

  /* Footer
  -------------------------------------------------------------- */

  .footer__bottom {
    display: block;
    padding: 3rem 0;
  }

  .footer__bottom > :nth-child(n) {
    margin-left: 0;
    width: 100%;
  }

  .footer__collectif {
    margin-bottom: 3rem;
  }

  .footerContact {
    width: 80%;
  }

  .footerContact ul {
    text-align: center;
    margin: 0;
    padding: 0;
  }

  a.footerSocial__item:last-of-type {
    margin-right: 0;
  }
}
