/* ----------------------------------------------------------- */
/* == rwd -> meidum */
/* ----------------------------------------------------------- */

@media (max-width: @medium) {
  /* ----------------------------------------------------------- */
  /* == Home page */
  /* ----------------------------------------------------------- */
  @home-margin-m       : 2rem;

  /* ----------------------------------------------------------- */
  /* == Grids */
  /* ----------------------------------------------------------- */

  .grid-2-m {
    .grid(2);
  }

  .home-module {
    margin-bottom: 0;
  }

  .home-module__grid-1-m {
    .grid(1, @home-margin-m);
  }

  .home-module__sidePart-m {
    .grid(2);
  }

  .home-module__sidePart-m:nth-child(n) {
    flex-direction: row;
    margin-bottom: 0;
    margin-left: 0;
    width: 100%;
  }

  /* ----------------------------------------------------------- */
  /* == post format */
  /* ----------------------------------------------------------- */

  /* Small article module */

  .home-moduleSmall .fpostArticle__image {
    flex: 1;
  }

  .home-moduleSmall .fpostArticle__content {
    padding: 2.5rem 2rem 3rem;
  }

  .home-moduleSmall .fpostArticle__title {
    font-size: 3rem;
    line-height: 4rem;
  }

  .home-moduleSmall .fpostArticle__cat {
    margin-top: 2rem;
  }

  /* Small dossier module */

  .home-moduleSmall .fpostDossier__title {
    font-size: 3rem;
    line-height: 3.8rem;
  }

  /* Small video module */

  .home-moduleSmall .fpostVideo__title {
    font-size: 3rem;
    line-height: 4rem;
  }

  /* ----------------------------------------------------------- */
  /* == Article list */
  /* ----------------------------------------------------------- */

  .articleList__grid-list-m {
    .grid(2);
  }

  /* ----------------------------------------------------------- */
  /* == Single article */
  /* ----------------------------------------------------------- */

  .single-head {
    display: block;
    flex: initial;
    width: 100%;
  }

  /* Author part
  -------------------------------------------------------------- */

  .single-author {
    flex-direction: row;
    flex-wrap: wrap;
    order: 1;
    width: 100%;
  }

  .single-author__title {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    text-align: center;
  }

  .single-author__avatar {
    margin-bottom: 0;
  }

  .single-author__about {
    padding-left: 2rem;
    width: ~'calc(100% - 12.5rem)';
    text-align: left;
  }

  .single-author__button {
    display: inline-block;
  }

  .single-share {
    order: 2;
  }

  .single-article__content p {
    margin: 0 5%;
    margin-bottom: 3rem;
  }

  .single-article__content iframe {
    margin: 2rem 0;
    min-height: 50vw;
    width: 100%;
  }

  .single-article__content img.alignleft {
    margin-left: -5%;
  }

  .single-suggestion__title {
    font-size: 2.5rem;
  }

}
